<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.*" type="FzBox.Implement.CourseDecryptHandler,FzBox.Implement"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="htmlFileHandler" verb="*" path="*.*" type="FzBox.Implement.CourseDecryptHandler,FzBox.Implement" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>