<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 外网OMS系统 -->
    <add key="server" value="http://oms.kingsunedu.com" />
    <!-- 网站发布目录 -->
    <add key="webpath" value="c:\fzbox" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>